{% load i18n %}
<table>
  <tr>
    <td>{% translate "Model" %}</td>
    <td>{{ printer_model }}</td>
  </tr>
  <tr>
    <td>{% translate "Link mode" %}</td>
    <td>{{ printer_link }}</td>
  </tr>
  <tr>
    <td>{% translate "Connected" %}</td>
    <td>{{ printer_connected }}</td>
  </tr>
  <tr>
    <td>{% translate "Paper level" %}</td>
    <td>
      {% if printer_paper == 2 %}
        {% translate "Ok" %}
      {% elif printer_paper == 1 %}
        {% translate "Low" %}
      {% elif printer_paper == 1 %}
        {% translate "Missing" %}
      {% else %}—{% endif %}</td>
  </tr>
</table>