{% load i18n %}
<table>
  <tr>
    <td>{% translate "Number of waiting print order" %}</td>
    <td>{{ printing_ready }}</td>
  </tr>
  <tr>
    <td>{% translate "Number of finished print order" %}</td>
    <td>{{ printing_finished }}</td>
  </tr>
  <tr>
    <td>{% translate "Number of failed print order" %}</td>
    <td>{{ printing_failed }}</td>
  </tr>
</table>