{% extends "admin/index.html" %}
{% load i18n %}
{% load static %}

{% block sidebar %}{% endblock %}

{% block nav-sidebar %}{% include "admin/nav_sidebar.html" %} {% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script src="{% static 'js/htmx.min.js' %}"></script>
{% endblock %}


{% block nav-breadcrumbs %}
  <nav aria-label="{% translate 'Breadcrumbs' %}">
    {% block breadcrumbs %}
      <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        {% if title %} &rsaquo; {{ title }}{% endif %}
      </div>
    {% endblock %}
  </nav>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}


{% block content %}
  <div>
    <h3> {% translate "Printer state" %} </h3>
    <div hx-get="{% url 'dashboard:printer_state' %}" hx-trigger="load, every 2s">
      Loading ...
    </div>
  </div>
  <div>
    <h3> {% translate "Printings" %} </h3>
    <div hx-get="{% url 'dashboard:printer_print_state' %}" hx-trigger="load, every 2s">
      Loading ...
    </div>
  </div>
  <div>
    <h3> {% translate "Pull from external servers" %} </h3>
    <div hx-get="{% url 'dashboard:puller_state' %}" hx-trigger="load, every 2s">
      Loading ...
    </div>
  </div>
{% endblock %}